* {
    box-sizing: border-box;
  }
  
  header nav {
    background-color:  #333333;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    color: lightgray;
  }
  
  header nav ul li {
    display: inline-block;
    padding-right: 100px;
    vertical-align: middle;
   
  }
  
  main section:first-child {
    text-align: center;
    margin-bottom: 40px;
    
  }
  
  main section:nth-child(2) {
    text-align: center;
    margin-bottom: 40px;
    
  
}
  
  main section:nth-child(2) img {
    margin: 0 13px 0 13px;
   
    
  }
  
  main section:nth-child(3) {
    text-align: center;
    height: 400px;
    width: 50%;
    margin-bottom: 30px;
    float: left;
    position: relative;
    left: 25%;
  }
  
  main section:nth-child(3) img {
    float:initial;
    width: 50%;

   
  }
  
  main section:nth-child(3) div {
    padding-left: 30px;
 
  }
  
  main section:nth-child(3) div h2 {
    font-size: larger;
    margin-bottom: 10px;
  }
  
  main section:nth-child(3) {
    text-align: center;
    height: 400px;
    width: 50%;
    margin-bottom: 30px;
    float: left;
    position: relative;
    left: 25%;
  }
  
  main section:nth-child(3) img {
    float: left;
    width: 50%;
   

  }
  
  main section:nth-child(3) section {
    padding-left: 30px;
  }
  
  main section:nth-child(3) section h2 {
    font-size: larger;
    margin-bottom: 10px;
  }
  
  main section:nth-child(3) section section{
    height: 300px;
    overflow-y: auto;
  }
  
  main section:nth-child(3) > p {
    background-color:rgb(19, 18, 18);
    color: #f1f1f1;
    border-radius: 5px;
    padding: 20px 60px ;
    float: left;
    margin-left: 40px;
  }
  
  main section:nth-child(3) > p:hover {
    background-color: rgb(44, 43, 43);
  }
  
  footer {
    clear: both;
    text-align: center;
    background-color: #333333;
    padding: 30px;
    width: 100%;
  }